{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Transacted</th>
        </tr>
    </thead>

    <tbody>
        {% for transaction in transactions %}
            <tr>
                <th scope="row">{{ transaction['symbol'] }}</th>
                <td>{{ transaction['shares'] }}</td>
                <td>{{ transaction['price'] }}</td>
                <td>{{ transaction['date'] + " " + transaction['time']}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}